{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email linhvan118319@gmail.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

www.bdsnhapho.site {
    reverse_proxy ghost:2368 {
        lb_try_duration 30s
    }
}

bdsnhapho.site {
    redir https://www.bdsnhapho.site{uri}
}
