.footer {
  border-top: 1px solid #eaeaea;
  width: 100%;
  width: 100%;
  padding: 80px 0px 40px 0px;

  .box {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    .box1 {
      width: 320px;
      .title {
        font-size: 16px;
        font-family: PingFang SC, PingFang SC-6;
        font-weight: 500;
        color: #101926;
        line-height: 22px;
        margin-bottom: 10px;
      }
      .sub_title {
        font-size: 12px;
        font-family: PingFang SC, PingFang SC-5;
        font-weight: 400;
        color: #b2b4b7;
        line-height: 17px;
        margin-bottom: 20px;
      }
      .email {
        margin-bottom: 16px;
        :global {
          .plm-input::placeholder {
            font-size: 12px;
          }
        }
      }
      .button {
        margin-bottom: 85px;
        :global {
          .plm-btn {
            width: 320px;
            background: linear-gradient(180deg, #2f3338, #101926);
            border-radius: 3px;
            color: #fff;
            font-size: 12px;
            font-family: PingFang SC, PingFang SC-5;
            letter-spacing: 3px;
          }
        }
      }
      .reference {
        font-size: 10px;
        font-family: PingFang SC, PingFang SC-5;
        font-weight: 400;
        color: #cccdd0;
        line-height: 14px;
        margin-bottom: 10px;
        span {
          font-size: 10px;
          zoom: 0.78;
        }
      }
    }
    .title {
      font-size: 16px;
      font-family: PingFang SC, PingFang SC-6;
      font-weight: 500;
      color: #000612;
      margin-bottom: 30px;
    }
    .row {
      font-size: 12px;
      font-family: PingFang SC, PingFang SC-5;
      font-weight: 400;
      color: #7f8288;
      margin-bottom: 10px;
    }
  }
}
