@import "~antd/dist/antd.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, PingFang SC-5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;

  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.icon {
  fill: currentColor;
  overflow: hidden;
}

/* primary-color */
.plm-btn {
  width: 130px;
  height: 36px !important;
}
