@import "./Constant.module.less";
.container {
  height: @headerHeight;
  width: 100%;
  // background: @primaryColor;
  border-bottom: 1px solid @borderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  backdrop-filter: saturate(180%) blur(5px);
  .content {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 40px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .menu {
      margin-right: 60px;
      :global {
        .plm-menu-horizontal {
          background: @primaryColor;
          border: none;
          .plm-menu-item {
            color: #fff;
            &-selected {
              color: #6b94ee;
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  // head ItemGroup style
  .Head_Item_Group {
    display: flex;
    align-items: center;
    gap: 16px;
    .Item {
      width: 86px;
      text-align: center;
      color: @fontColor;
      transition: color 0.2s;
      font-weight: 400;
      &.Active {
        color: @primaryColor;
        font-family: PingFang SC, PingFang SC-6;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
        color: @primaryColor;
        font-family: PingFang SC, PingFang SC-6;
        font-weight: 500;
      }
    }
  }
}
