@import "@/styles/Constant.less";
.main {
  .platform_container {
    .platform_item {
      height: 461px;
      display: flex;
      width: 1168px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      gap: 99px;
      margin-bottom: 116px;
      &_title {
        &_prefix {
          height: 50px;
          width: 50px;
          background: @primaryColor;
          border-radius: 3px;
          font-size: 24px;
          font-family: PingFang SC, PingFang SC-8;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        font-size: 30px;
        font-family: PingFang SC, PingFang SC-8;
        font-weight: 700;
        text-align: left;
        align-items: center;
        gap: 20px;
        color: #1d293b;
        line-height: 30px;
        margin-bottom: 30px;
      }
      &_content {
        font-size: 14px;
        font-family: PingFang SC, PingFang SC-5;
        font-weight: 400;
        text-align: left;
        color: #a7b3c5;
        line-height: 22px;
        margin-bottom: 20px;
      }
      &_list {
        margin-bottom: 9px;
        font-size: 14px;
        font-family: PingFang SC, PingFang SC-5;
        font-weight: 400;
        color: #a7b3c5;
        line-height: 22px;
        display: flex;
        align-items: center;
        gap: 8px;
        &_suffix {
          width: 8px;
          height: 8px;
          background: #4b8ef4;
          transform: rotate(45deg);
          border-radius: 1px;
          box-shadow: 0px 6px 11px 0px rgba(202, 210, 218, 0.4);
        }
      }
      &_img {
        height: 461px;
        min-width: 584px;
        background-repeat: no-repeat;
        background-size: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .img1 {
          .relativeImg1 {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 云原生平台
            &_1 {
              position: absolute;
              z-index: -1;
              bottom: 110px;
              left: 300px;
            }
            &_2 {
              position: absolute;
              z-index: -1;
              bottom: 250px;
              left: 200px;
            }
          }
        }
        .img2 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 多租户
            &_3 {
              position: absolute;
              z-index: -1;
              bottom: 185px;
              left: 60px;
            }
            &_4 {
              position: absolute;
              z-index: -1;
              bottom: 225px;
              left: 335px;
            }
          }
        }
        .img3 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 安全访问
            &_5 {
              position: absolute;
              bottom: 325px;
              left: 400px;
            }
            &_6 {
              position: absolute;
              bottom: 205px;
              left: 425px;
            }
            &_7 {
              position: absolute;
              bottom: 195px;
              left: 25px;
            }
          }
        }
        .img4 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 多维度
            &_8 {
              position: absolute;
              bottom: 295px;
              left: 450px;
            }
          }
        }
        .img5 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 多维度
            &_9 {
              position: absolute;
              bottom: 285px;
              left: 180px;
            }
            &_10 {
              position: absolute;
              bottom: 375px;
              left: 350px;
              z-index: -1;
            }
            &_11 {
              position: absolute;
              bottom: 375px;
              left: 50px;
              z-index: -1;
            }
          }
        }
        .img6 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 多维度
            &_12 {
              position: absolute;
              bottom: 335px;
              left: 300px;
            }
            &_13 {
              position: absolute;
              bottom: 315px;
              left: 290px;
            }
            &_14 {
              position: absolute;
              bottom: 295px;
              left: 300px;
            }
            &_15 {
              position: absolute;
              bottom: 275px;
              left: 320px;
            }
          }
        }
        .img7 {
          .relativeImg {
            // // padding-top: 100px;
          }
          .absoluteImg {
            // 多维度
            &_16 {
              position: absolute;
              bottom: 155px;
              left: 400px;
            }
            &_17 {
              position: absolute;
              bottom: 315px;
              left: 120px;
            }
          }
        }
        .img8 {
          .relativeImg {
            // padding-top: 100px;
          }
          .absoluteImg {
            // 多维度
            &_18 {
              position: absolute;
              bottom: 135px;
              left: 200px;
              z-index: -1;
            }
            &_19 {
              position: absolute;
              bottom: 205px;
              left: 140px;
              z-index: -2;
            }
          }
        }
      }
    }
    @media (max-width: 1560px) {
      .platform_item {
        margin-bottom: 116px;
      }
      :global {
        .plm-image {
          transform: scale(0.8);
        }
      }

      .platform_item {
        width: 960px;
        height: 363px;
        &_img {
          height: 363px;
          min-width: 460px;

          .img1 {
            .absoluteImg {
              // 云原生平台
              &_1 {
                position: absolute;
                z-index: -1;
                bottom: 75px;
                left: 220px;
              }
              &_2 {
                position: absolute;
                z-index: -1;
                bottom: 225px;
                left: 150px;
              }
            }
          }

          .img2 {
            .absoluteImg {
              // 多租户
              &_3 {
                position: absolute;
                z-index: -1;
                bottom: 145px;
                left: 60px;
              }
              &_4 {
                position: absolute;
                z-index: -1;
                bottom: 175px;
                left: 235px;
              }
            }
          }

          .img3 {
            .absoluteImg {
              // 安全访问
              &_5 {
                position: absolute;
                bottom: 265px;
                left: 310px;
              }
              &_6 {
                position: absolute;
                bottom: 165px;
                left: 330px;
              }
              &_7 {
                position: absolute;
                bottom: 152px;
                left: 0px;
              }
            }
          }
          .img4 {
            .relativeImg {
              // padding-top: 100px;
            }
            .absoluteImg {
              // 多维度
              &_8 {
                position: absolute;
                bottom: 245px;
                left: 300px;
              }
            }
          }
          .img5 {
            .absoluteImg {
              // 多维度
              &_9 {
                position: absolute;
                bottom: 225px;
                left: 120px;
              }
              &_10 {
                position: absolute;
                bottom: 295px;
                left: 250px;
                z-index: -1;
              }
              &_11 {
                position: absolute;
                bottom: 295px;
                left: 0px;
                z-index: -1;
              }
            }
          }

          .img6 {
            .absoluteImg {
              &_12 {
                position: absolute;
                bottom: 255px;
                left: 240px;
              }
              &_13 {
                position: absolute;
                bottom: 240px;
                left: 230px;
              }
              &_14 {
                position: absolute;
                bottom: 225px;
                left: 240px;
              }
              &_15 {
                position: absolute;
                bottom: 210px;
                left: 250px;
              }
            }
          }

          .img7 {
            .relativeImg {
              // padding-top: 100px;
            }
            .absoluteImg {
              // 多维度
              &_16 {
                position: absolute;
                bottom: 125px;
                left: 320px;
              }
              &_17 {
                position: absolute;
                bottom: 265px;
                left: 80px;
              }
            }
          }
          .img8 {
            .absoluteImg {
              &_18 {
                position: absolute;
                bottom: 95px;
                left: 130px;
                z-index: -1;
              }
              &_19 {
                position: absolute;
                bottom: 155px;
                left: 110px;
                z-index: -2;
              }
            }
          }
        }
      }
    }
  }
}
