@import "@/styles/Constant.less";
.main {
  .platform_container {
    .platform_item {
      height: 461px;
      display: flex;
      width: 1168px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      gap: 99px;
      margin-bottom: 42px;
      &_title {
        &_prefix {
          height: 50px;
          width: 50px;
          background: @primaryColor;
          border-radius: 3px;
          font-size: 24px;
          font-family: PingFang SC, PingFang SC-8;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        padding-top: 30px;
        font-size: 30px;
        font-family: PingFang SC, PingFang SC-8;
        font-weight: 700;
        text-align: left;
        align-items: center;
        gap: 20px;
        color: #1d293b;
        line-height: 30px;
        margin-bottom: 30px;
      }
      &_content {
        font-size: 14px;
        font-family: PingFang SC, PingFang SC-5;
        font-weight: 400;
        text-align: left;
        color: #a7b3c5;
        line-height: 22px;
      }
      &_list {
        margin-bottom: 9px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        color: #4c5059;
        line-height: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        &_suffix {
          width: 8px;
          height: 8px;
          background: #4b8ef4;
          transform: rotate(45deg);
          border-radius: 1px;
          box-shadow: 0px 6px 11px 0px rgba(202, 210, 218, 0.4);
        }
      }
      &_img {
        height: 461px;
        min-width: 584px;
        background-repeat: no-repeat;
        background-size: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 100px;
        .absoluteImg {
          &_1 {
            position: absolute;
            z-index: -1;
            bottom: 60px;
            left: 300px;
          }
          &_2 {
            position: absolute;
            z-index: -1;
            bottom: 250px;
            left: 200px;
          }
        }
      }
    }
    @media (max-width: 1560px) {
      .platform_item {
        width: 960px;
        height: 363px;
        &_img {
          height: 363px;
          width: 460px;
          padding-top: 100px;
          .absoluteImg {
            &_1 {
              position: absolute;
              z-index: -1;
              bottom: 10px;
              left: 300px;
            }
            &_2 {
              position: absolute;
              z-index: -1;
              bottom: 180px;
              left: 200px;
            }
          }
        }
      }
    }
  }
}
